<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family: 'Francois One'; margin-left: 75px; font-size: 30px; font-weight: bold; color: #eb5959"
               href="{% url 'home' %}">652 Group</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="margin-left: 100px;"
                           href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Таблицы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Сообщения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Заказы</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <span  style="color: #fff; margin-right: 10px;">
                        {% if request.user.is_authenticated %}
                        Добро пожаловать, {{ user.username }}!
                        {% endif %}
                    </span>
                    <a href="{% url 'logout' %}">
                    <span class="navbar-text"  style="color: #eb5959; margin-left: 10px; font-family: 'Rubik', sans-serif;">Выход <i
                            class="fa fa-regular fa-door-open"></i></span></a>
                </form>
            </div>
        </div>
    </nav>