{% extends 'mainapp/add_table.html' %}
{% block title %}Добавления изделия{% endblock title %}
{% block back %}
<a href="{% url 'main' %}">
    <button class="btn btn-outline-danger" type="submit" style="margin-top: 20px"><i
            class="fa fa-regular fa-arrow-left"></i> Главная таблица
    </button>
</a>
{% endblock back %}
{% block content %}
<h1 style="color: #eb5959;">Добавление изделия</h1><br>
<form action="{% url 'add_product' %}" method="post" style="font-size: 16px;font-weight: bold;">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px;width: 330px;margin-top: 20px;"><i
            class="fa fa-solid fa-plus"></i> Добавить изделие
    </button>
</form>
{% endblock content %}